extends layout

block content
	h1= title
	p Welcome to #{title}


	// Client-side Templates
	script(type="text/template", id="stats-template")
		|<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
		|<ul id="filters">
		|	<li>
		|		<a class="selected" href="#/">All</a>
		|	</li>
		|	<li>
		|		<a href="#/active">Active</a>
		|	</li>
		|	<li>
		|		<a href="#/completed">Completed</a>
		|	</li>
		|</ul>
		|<% if (completed) { %>
		|<button id="clear-completed">Clear completed (<%= completed %>)</button>
		|<% } %>
	script(type="text/template", id="item-template")
		|<div class="view">
		|	<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
		|	<label><%= title %></label>
		|	<button class="destroy"></button>
		|</div>
		|<input class="edit" value="<%= title %>">
	script(type="text/template", id="note-template")
		|<p><em><%= title %></em> - <%= content %></p>
	script(type="text/template", id="editor-template")
		|<div class="header">
		|	<span class="header-title"><%= title %></span><input class="edit-title" value="<%= title %>" style="display:none">
		|	<div class="control"><button class="rename">Renommer</button><button class="del">Supprimer</button></div>
		|	<div class="window"><button class="toggle">&plusmn;</button> <button class="quit">x</button></div>
		|</div>
		|<div class="body">
		|	<p><textarea class="edit-content"><%= content %></textarea></p>
		|</div>


	// Client-side application's scripts
	script(src="javascripts/lib/jquery-1.8.3.min.js")
	script(src="javascripts/lib/underscore-min.js")
	script(src="javascripts/lib/backbone-min.js")
	script(src="javascripts/lib/backbone.localStorage-min.js")
	script(src="javascripts/models/note.js")
	script(src="javascripts/collections/notes.js")
	script(src="javascripts/views/note.js")
	script(src="javascripts/views/note-editor.js")
	script(src="javascripts/views/main.js")
	script(src="javascripts/appCli.js")
	script(src="javascripts/routers/router.js")


	// Application's HTML skeleton 4 Meeno
	section#meenoApp
		h1 Lites des notes
		article
			ul#note-list
		article
			ul#editor-list
				li#new-note
					.header Créer une nouvelle note