extends layout

block content
	//- For future use
		|<p class="date">Created : <%= $.format.date(created_at, "ddd dd MMM yyyy, HH:mm") %></p>

	//- Client-side Templates
	//- This part of the DOM must be ready before defining the views as they use it for templating
	include clientSideTemplates.html

	//- Client-side application's scripts
	//- Load the script "js/main.js" as our entry point
	script(data-main="javascripts/main", src="javascripts/lib/require.js")

	// Login/Register form
	div#form-wrapper(style="display:none")
		form#login(autocomplete="on")
			h1 Log in
			p.errors
			p.email
				label(for="email") Your email address
				input(id="email", name="email", required="required", type="text", placeholder="myemail@mail.com", autofocus)
			p.password
				label(for="password") Your password
				input(id="password", name="password", required="required", type="password", placeholder="eg. X8df!90EO")
			p.keeplogin
				input(id="keeplogin", name="keeplogin", type="checkbox", value="keeplogin")
				label(for="keeplogin") Keep me logged in
			p.button.login
				input(id="do-login", type="submit", value="Login", data-init-value="Login")
			p.switch
				|Not a member yet ?
				button#toregister Join us
		form#register(autocomplete="on", style="display:none")
			h1 Sign up
			p.errors
			p.email
				label(for="emailSignup") Your email address
				input(id="emailSignup", name="emailSignup", required="required", type="text", placeholder="myemail@mail.com")
			p.email
				label(for="emailSignupConfirm") Please confirm your email address
				input(id="emailSignupConfirm", name="emailSignupConfirm", required="required", type="text", placeholder="myemail@mail.com")
			p.password
				label(for="passwordSignup") Your password
				input(id="passwordSignup", name="passwordSignup", required="required", type="password", placeholder="eg. X8df!90EO")
			p.password
				label(for="passwordSignupConfirm") Please confirm your password
				input(id="passwordSignupConfirm", name="passwordSignupConfirm", required="required", type="password", placeholder="eg. X8df!90EO")
			p.button.signin
				input(id="do-register", type="submit", value="Sign up", data-init-value="Sign up")
			p.switch
				|Already a member ?
				button#tologin Go log in

	// Application skeleton
	//div#main.navigating.grid-container.grid-parent
	div#main.grid-container.grid-parent
		div.navigation.grid-25.grid-parent
			div.command.hide-on-desktop
				button.open
					span.fa.fa-navicon
				//- button.close
					span.fa.fa-close
			div.navigation-options
				h1
					span.one mee
					span.two no
				nav.browse
					h2 browse
						span.fa.fa-bookmark
					// Commands to navigate between the different tabs
					ul#nav
						li.browse.notes NOTES
						li.browse.tasks.selected TASKS
						li.browse.tags TAGS
					ul#editors-tabs
						li 
							span.close.fa.fa-remove
							span SOMFY_MEE_DOM-AFE_2015-10-13-1630
						li 
							span.close.fa.fa-remove
							span CS Checkpoint AFE 20151123
						//li.selected
						li
							span.close.fa.fa-remove
							span CS Checkpoint VPI 20151127
						li
							span.close.fa.fa-remove
							span SOMFY_MEE_DOM-CMO_2015-06-25-1600
						li
							span.close.fa.fa-remove
							span SOMFY_MEE_DOM-CMO_2015-07-16-1500
				nav.misc
					h2 get help
						span.fa.fa-question-circle
					h2 admin
						span.fa.fa-cog
		div.content.grid-75
			//div.editors.active
			div.editors
				div.editor
					div.header
						div.close
							button.fa.fa-remove
						div.title SOMFY_MEE_DOM-CMO_2015-06-25-1600
						div.actions.hide-on-mobile
							button.fa.fa-trash-o
								span DELETE
							button.fa.fa-pencil-square-o
								span RENAME
							button.fa.fa-clone
								span DUPLICATE
					div.body.grid-container.grid-parent
						div.left
							div.summary
								ul
									li 1
									li.active 2
									li 3
							div.content
								h1 Participants
								| Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
								h1 Objectifs
								| Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est. Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.
						div.right
							div.summary
								ul
									li.active 1
									li 2
									li 3
									li 4
							div.content
								h1 Decisions
								| Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
								h1 Actions
								| Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est. Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.
			//div.browser.active
			div.browser.active
				div.tab.notes.active
					div.search-box
						div.looking-glass
							span.fa.fa-search
						div.tags.nostretch
							button tag1
							button tag2
						div.input
							input(placeholder="Type here keywords")
						div.reset
							button
								| clear
								span.fa.fa-remove
					div.listobjects.selected
						div.nav.grid-container.grid-parent
							ul.milestones.grid-90.mobile-grid-90.grid-parent
								li.active Today
								li Tomorrow
								li Next week
							div.filter-checked.grid-10.mobile-grid-10.grid-parent
								button.active(data-step="0") Todo
								button(data-step="1") Done
								button(data-step="2") Both
						ul.objects
							li.add
								div
									span.fa.fa-plus
								div.input
									input(placeholder="Type here your new task")
								div.buttons
									button.save
										| save
										span.fa.fa-save
									button.cancel.hide-on-mobile
										| cancel
										span.fa.fa-remove
							li
								.open
									button.fa.fa-folder
									button.fa.fa-folder-open
								.content
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.tags.hide-on-mobile
										button
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
							li.expanded
								.open
									button.fa.fa-folder
									button.fa.fa-folder-open
								.content
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									.tags.hide-on-mobile
										button 
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
									.form
										.label
											.input
												input(placeholder="Type here the name of the note", value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
											.actions
												button.edit EDIT
												button.delete
													| DELETE
													span.fa.fa-trash
										.tags
											.buttons
												button.tag
													span.red
													| tag1
												button.tag
													span.green
													| tag1
											.input
												input(placeholder="Search here the tag to add or to create")
											.actions
												button.link link tag
										.reduce
											button.fa.fa-angle-up
				div.tab.tasks
					div.search-box
						div.looking-glass
							span.fa.fa-search
						div.tags.nostretch
							button tag1
							button tag2
						div.input
							input(placeholder="Type here keywords")
						div.reset
							button
								| clear
								span.fa.fa-remove
					div.listobjects.selected
						div.nav.grid-container.grid-parent
							ul.milestones.grid-90.mobile-grid-90.grid-parent
								li.active Today
								li Tomorrow
								li Next week
							div.filter-checked.grid-10.mobile-grid-10.grid-parent
								button.active(data-step="0") Todo
								button(data-step="1") Done
								button(data-step="2") Both
						ul.objects
							li.add
								div
									span.fa.fa-plus
								div.input
									input(placeholder="Type here your new task")
								div.buttons
									button.save
										| save
										span.fa.fa-save
									button.cancel.hide-on-mobile
										| cancel
										span.fa.fa-remove
							li.task
								.check
									button.fa.fa-check
								.content
									.due
										.day 28
										.month JAN
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.tags.hide-on-mobile
										button
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
							li.task.active
								.check
									button.fa.fa-check
								.content
									.due
										.day 28
										.month JAN
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									.tags.hide-on-mobile
										button 
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
							li.task.expanded
								.check
									button.fa.fa-check
								.content
									.due
										.date
											.day 28
											.month JAN
										.sync
											.wip.fa.fa-spinner.fa-pulse
											.done.fa.fa-thumbs-up 
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									.tags.hide-on-mobile
										button 
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
									.form
										.label
											.input(contenteditable="true") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
											.actions
												button.edit EDIT
												button.delete
													| DELETE
													span.fa.fa-trash
										.tags
											.buttons
												button.tag
													span.red
													| tag1
												button.tag
													span.green
													| tag1
											.input
												input(placeholder="Search here the tag to add or to create")
											.actions
												button.link link tag
										.description
											.input(contenteditable="true") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											.actions
												button.edit EDIT
							li.task
								.check
									button.fa.fa-check
								.content
									.due
										.day 28
										.month JAN
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									.tags.hide-on-mobile
										button 
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down
							li.task
								.check
									button.fa.fa-check
								.content
									.due
										.day 28
										.month JAN
									.label
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									.tags.hide-on-mobile
										button 
											span.red
											| tag1
										button
											span.green
											| tag1
									.expand
										button.fa.fa-angle-down



		//div#tabs
			div.tab.help
				article
					section
						h1 Comment démarrer
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
					section
						h1 Rechercher du contenu
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
			div.tab.browse.selected
				div.listobjects.notes
					div.col1
						div.actions
							div.new-note
								.title NEW NOTE
								.subtitle Type here the title of a new note you would like to create.
								.form
									input.mousetrap(type="text", placeholder="Name here your new note")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button open a new note
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search notes")
							div.filter-editor
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						// Hereafeter will be displayed the objects
						ul.objects.notes.draggable
					div.col3
				div.listobjects.tasks.selected
					div.col1
						div.jumper
							button JUMP TO
							span.fa.fa-angle-down
						div.dropzone
							.title dropzone
							.subtitle Drag tasks and drop them below to postpone them
							ul.zones
								li.droppable.today Today
								li.droppable.tomorrow Tomorrow
								li.droppable.nextweek Next week
								li.droppable.later Later
						div.actions
							div.new-task
								.title NEW TASK
								.subtitle Type here the content of a new task you would like to create. 
								.form
									input.mousetrap(type="text", placeholder="Describe here your new task")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button save task
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								//span
									input.mousetrap.autocomplete(type="text", placeholder="filter by objects", style="display:none")
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search tasks")
							div.filter-editor
								span.checked
									button.filter-checked(data-step="0") Todo
									button.filter-checked(data-step="1", style="display:none") Done
									button.filter-checked(data-step="2", style="display:none") Both
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						//div.actions-contextual-selection
							button.select-all Tout sélectionner
							button.unselect-all Tout déselectionner
						//div.actions-contextual-trigger
							button.delete Supprimer
						//ul.actions-contextual
							li.delete
								span.action Delete tasks
								span.cancel Cancel
						// Hereafeter will be displayed the objects
						ul.objects.tasks.draggable
					div.col3
						//div.saved-filters
							.title saved filters
							.subtitle Click on the star on the right end of the search bar to save the current filter and browse quicker next time
				div.listobjects.tags
					div.col1
						div.actions
							div.new-tag
								.title NEW TAG
								.subtitle Type here the label of a new tag you would like to create. 
								.form
									input.mousetrap(type="text", placeholder="Describe here your new task")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button save tag
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search tags")
							div.filter-editor
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						ul.objects.tags.draggable
					div.col3
		//div#editors.children-count-0
			//div.editor note 1
			//div.editor note 2
			//div.editor note 3
