extends layout

block content
	// Fur future use
		|<p class="date">Created : <%= $.format.date(created_at, "ddd dd MMM yyyy, HH:mm") %></p>


	// Client-side Templates
	// This part of the DOM must be ready before defining the views as they use it for templating
	include clientSideTemplates.html

	// Client-side application's scripts
	//- Libraries scripts
	script(src="javascripts/lib/modernizr-2.6.2.min.js")
	script(src="javascripts/lib/jquery-1.8.3.min.js")
	script(src="javascripts/lib/jquery.dateFormat-1.0.js")
	script(src="javascripts/lib/underscore-min.js")
	script(src="javascripts/lib/backbone.js")
	script(src="javascripts/lib/backbone-relational.js")
	//- script(src="javascripts/lib/backbone.localStorage-min.js")
	//- script(src="javascripts/lib/backbone-nested-v1.1.2.min.js")
	//- script(src="javascripts/lib/jquery.at.caret.min.js")
	script(src="javascripts/lib/mousetrap.min.js")
	script(src="javascripts/lib/backbone.mousetrap.js")
	script(src="javascripts/lib/jquery.caret.js")
	script(src="javascripts/lib/caret.js")
	script(src="javascripts/lib/tools.js")

	//- Application specific scripts
	script(src="javascripts/models/link-note-tag.js")
	script(src="javascripts/models/note.js")
	script(src="javascripts/models/tag.js")
	script(src="javascripts/collections/notes.js")
	script(src="javascripts/collections/tags.js")
	script(src="javascripts/l18n/"+ locale + ".js")
	script(src="javascripts/views/list-note.js")
	script(src="javascripts/views/list-tag.js")
	script(src="javascripts/views/list-task.js")
	script(src="javascripts/views/emb-tag.js")
	script(src="javascripts/views/browser-tab.js")
	script(src="javascripts/views/browser-body.js")
	script(src="javascripts/views/browser.js")
	script(src="javascripts/views/helper-tab.js")
	script(src="javascripts/views/helper-body.js")
	script(src="javascripts/views/helper.js")
	script(src="javascripts/views/editor-tab.js")
	script(src="javascripts/views/editor-body.js")
	script(src="javascripts/views/editor.js")
	script(src="javascripts/views/main.js")
	script(src="javascripts/appCli.js")
	script(src="javascripts/routers/router.js")

	// Login/Register form
	div#form-wrapper(style="display:none")
		form#login(autocomplete="on")
			h1 Log in
			p.errors
			p.email
				label(for="email") Your email address
				input(id="email", name="email", required="required", type="text", placeholder="myemail@mail.com", autofocus)
			p.password
				label(for="password") Your password
				input(id="password", name="password", required="required", type="password", placeholder="eg. X8df!90EO")
			p.keeplogin
				input(id="keeplogin", name="keeplogin", type="checkbox", value="keeplogin")
				label(for="keeplogin") Keep me logged in
			p.button.login
				input(id="do-login", type="submit", value="Login", data-init-value="Login")
			p.switch
				|Not a member yet ?
				button#toregister Join us
		form#register(autocomplete="on", style="display:none")
			h1 Sign up
			p.errors
			p.email
				label(for="emailSignup") Your email address
				input(id="emailSignup", name="emailSignup", required="required", type="text", placeholder="myemail@mail.com")
			p.email
				label(for="emailSignupConfirm") Please confirm your email address
				input(id="emailSignupConfirm", name="emailSignupConfirm", required="required", type="text", placeholder="myemail@mail.com")
			p.password
				label(for="passwordSignup") Your password
				input(id="passwordSignup", name="passwordSignup", required="required", type="password", placeholder="eg. X8df!90EO")
			p.password
				label(for="passwordSignupConfirm") Please confirm your password
				input(id="passwordSignupConfirm", name="passwordSignupConfirm", required="required", type="password", placeholder="eg. X8df!90EO")
			p.button.signin
				input(id="do-register", type="submit", value="Sign up", data-init-value="Sign up")
			p.switch
				|Already a member ?
				button#tologin Go log in

	// Application skeleton
	ul.actions-main
		li.note New Note
		li.task New Task
		li.report New Report

	div#main
		header
			a(href="/",title="meeno")
				h1
					span.organisation mandracore
					| meeno v0.2
			ul
				li export base
				li déconnexion
		nav
			ul#nav
				li.help Help
				li.browse.selected Browse
				//li.object.note Comité de Pilotage 5
		div#tabs
			div.tab.help
				article
					section
						h1 Comment démarrer
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
					section
						h1 Rechercher du contenu
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
			div.tab.browse.selected
				div.filter
					input.search(type="text", autofocus, placeholder="search or filter")
					ul
						li.notes.icon-book Notes
						li.tasks.selected.icon-tasks Tasks
						li.tags.icon-tags Tags
				div.listobjects.notes
					ul.actions-contextual
						li.select Select All
						li.unselect Unselect All
						li.clone Duplicate
						li.delete Delete
					ul.notes
						li Note 1
						li Note 2
						li Note 3
				div.listobjects.tasks.selected
					ul.actions-contextual.hasSelected
						li.select Select All
						li.unselect Unselect All
						li.related Related Notes
						li.delete Delete
					ul.tasks
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
						li
							h2
								|titre
								time(datetime="20121223") 23-12-2012
								span.progress.thirdquart
									button.firstquart 25%
									button.secondquart 50%
									button.thirdquart 75%
									button.lastquart 100%
								span.risk.risky risky
				div.listobjects.tags
					ul.actions-contextual
						li.select Select All
						li.unselect Unselect All
						li.delete Delete
					ul.tags
						li tag1
						li tag2
						li tag3
						li tag4
		div#footer
			p.current-action Saving...
			p.sync-status Sync. Status : In Progress...

