extends layout

block content

	// Client-side Templates
	script(type="text/template", id="note-template")
		|<p><%= title %></p>
		|<p class="date"><%= $.format.date(created_at, "ddd dd MMM yyyy, HH:mm") %></p>
	script(type="text/template", id="editor-tab-template")
		|<span><%= title %></span>
	script(type="text/template", id="editor-controls-template")
		|<span></span>
		|<button class="quit">Close</button>
		|<button class="del">Delete</button>
	script(type="text/template", id="editor-template")
		|	<div class="attributes">
		|		<p><span class="fieldname">Titre complet :</span> <span class="edit-title editable" contentEditable><%= title %></span></p>
		|		<p><span class="fieldname">Date de création :</span> <span class="edit-title"><%= created_at %></span></p>
		|		<p><span class="fieldname">Participants :</span> <span class="edit-title editable" contentEditable>@TJO @CMI @RLA</span></p>
		|	</div>
		|	<div contentEditable class="edit-content editable"><%= content %></div>

	// Client-side application's scripts
	script(src="javascripts/lib/jquery-1.8.3.min.js")
	script(src="javascripts/lib/jquery.dateFormat-1.0.js")
	script(src="javascripts/lib/underscore-min.js")
	script(src="javascripts/lib/backbone-min.js")
	script(src="javascripts/lib/backbone.localStorage-min.js")
	script(src="javascripts/models/note.js")
	script(src="javascripts/collections/notes.js")
	script(src="javascripts/views/note.js")
	script(src="javascripts/views/editor.js")
	script(src="javascripts/views/editor-tab.js")
	script(src="javascripts/views/editor-controls.js")
	script(src="javascripts/views/main.js")
	script(src="javascripts/appCli.js")
	script(src="javascripts/routers/router.js")

	// Application's HTML skeleton
	div#backgrounds
		div#liner-bg
		div#search-bg-top
		div#search-bg
		div#header-bg
	div#header
		div.app
		div.search
			#search-wrapper
				p
					input(id='search', placeholder='Rechercher')
		div.editor
			.wrapper
				button#new Rédiger une note
	div#body
		// will stay put ------------------------------
		div#fixed
			// LEFT
			#search-tabs-list-wrapper
				ul#search-tabs-list
					li(class="active") Notes
					li Tâches
			#note-list-wrapper
				ul#note-list
			// RIGHT
			#editor-tabs-list-wrapper
				ul#editor-tabs-list
			#editor-controls-list-wrapper
				div#editor-controls-list
		// will scroll ------------------------------
		div#scrollables
			div#editor-content-list
				div#editor-permanent.editor-content
					div
						h1 Bienvenue !
						h3 Commencer à travailler
						p
							| Cliquez sur Rédiger une note (icône crayon ci-dessus) pour commencer à travailler.
							| Chacune de vos notes dispose d'un certain nombre d'attributs (titre, date de création, contenu,...) dont certains ne sont pas modifiables (en particulier la date de création).
							| Vous n'avez pas à vous préoccuper de sauvegarder votre travail : <em>meeno</em> le fait pour vous automatiquement et vous avertira uniquement en cas de problème. Vous n'aurez plus à craindre de perdre votre travail !
							| <a href="#">En savoir plus</a>
						h3 Où sont mes notes ?
						p
							| Vous pourrez accéder à vos notes via la colonne de recherche.
							| Si vous ne voyez pas celle qui vous intéresse, pas de soucis : cliquez dans le champ Rechercher (icône loupe) et saisissez
							| une partie du titre ou du contenu de la note pour la retrouver. Vous pouvez également saisir le nom des participants (@Romain, @Brice,...) ou des mots-clés (#projet-logistique, #infrastructure,...).
							| <a href="#">En savoir plus</a>