extends layout

block content

	// Client-side Templates
	script(type="text/template", id="note-template")
		|<%= created_at %> - <em><%= title %></em>
	script(type="text/template", id="editor-tab-template")
		|<span><%= title %></span>
	script(type="text/template", id="editor-template")
		|<div class="body" style="display:none">
		|	<div class="controls">
		|		<button class="del">Supprimer</button>
		|		<button class="quit">x</button>
		|	</div>
		|	<div class="attributes">
		|		<p>Titre complet : <span contentEditable class="edit-title"><%= title %></span></p>
		|		<p>Date de créaction : <%= created_at %></p>
		|	</div>
		|	<div contentEditable class="edit-content"><%= content %></div>
		|</div>


	// Client-side application's scripts
	script(src="javascripts/lib/jquery-1.8.3.min.js")
	script(src="javascripts/lib/underscore-min.js")
	script(src="javascripts/lib/backbone-min.js")
	script(src="javascripts/lib/backbone.localStorage-min.js")
	script(src="javascripts/models/note.js")
	script(src="javascripts/collections/notes.js")
	script(src="javascripts/views/note.js")
	script(src="javascripts/views/editor.js")
	script(src="javascripts/views/editor-tab.js")
	script(src="javascripts/views/main.js")
	script(src="javascripts/appCli.js")
	script(src="javascripts/routers/router.js")

	// Application's HTML skeleton 4 Meeno
	div#liner-bg
	div#search-bg
	div#meenoApp
		section#header
			h1 meeno 0.1
		section#search-wrapper
			div.header
				input(id='search', value='Rechercher')
			div.body
				article
					h3 Notes
					ul#notes-list
				article
					h3 Tâches
					ul#tasks-list
		section#editors-wrapper
			div.header
				button#new Rédiger une note
			div.body
				ul#editor-tabs-list
				div#editor-list