extends layout

block content
	//- For future use
		|<p class="date">Created : <%= $.format.date(created_at, "ddd dd MMM yyyy, HH:mm") %></p>

	//- Client-side Templates
	//- This part of the DOM must be ready before defining the views as they use it for templating
	include clientSideTemplates.html

	//- Client-side application's scripts
	//- Load the script "js/main.js" as our entry point
	script(data-main="javascripts/main", src="javascripts/lib/require.js")

	// Login/Register form
	div#form-wrapper(style="display:none")
		form#login(autocomplete="on")
			h1 Log in
			p.errors
			p.email
				label(for="email") Your email address
				input(id="email", name="email", required="required", type="text", placeholder="myemail@mail.com", autofocus)
			p.password
				label(for="password") Your password
				input(id="password", name="password", required="required", type="password", placeholder="eg. X8df!90EO")
			p.keeplogin
				input(id="keeplogin", name="keeplogin", type="checkbox", value="keeplogin")
				label(for="keeplogin") Keep me logged in
			p.button.login
				input(id="do-login", type="submit", value="Login", data-init-value="Login")
			p.switch
				|Not a member yet ?
				button#toregister Join us
		form#register(autocomplete="on", style="display:none")
			h1 Sign up
			p.errors
			p.email
				label(for="emailSignup") Your email address
				input(id="emailSignup", name="emailSignup", required="required", type="text", placeholder="myemail@mail.com")
			p.email
				label(for="emailSignupConfirm") Please confirm your email address
				input(id="emailSignupConfirm", name="emailSignupConfirm", required="required", type="text", placeholder="myemail@mail.com")
			p.password
				label(for="passwordSignup") Your password
				input(id="passwordSignup", name="passwordSignup", required="required", type="password", placeholder="eg. X8df!90EO")
			p.password
				label(for="passwordSignupConfirm") Please confirm your password
				input(id="passwordSignupConfirm", name="passwordSignupConfirm", required="required", type="password", placeholder="eg. X8df!90EO")
			p.button.signin
				input(id="do-register", type="submit", value="Sign up", data-init-value="Sign up")
			p.switch
				|Already a member ?
				button#tologin Go log in

	// Application skeleton
	div#main.grid-container.grid-parent
		div.navigation.grid-25.grid-parent
			div.command.hide-on-desktop
				button.open
					span.fa.fa-navicon
				button.close.fa.fa-close
			div
				h1 meeno
				nav
					// Commands to navigate between the different tabs
					ul#nav
						li.help HELP
						li.browse.notes NOTES
						li.browse.tasks.selected TASKS
						li.browse.tags TAGS
						//li.admin Manage
		div.content.grid-75
			div.browser
				div.tab.tasks
					div.search-box
						div.looking-glass
							span.fa.fa-search
						div.tags.nostretch
							button tag1
							button tag2
						div.input
							input(placeholder="Type here keywords")
						div.reset
							button
								| clear
								span.fa.fa-remove
					div.listobjects.selected
						div.nav.grid-container.grid-parent
							ul.milestones.grid-90.mobile-grid-90.grid-parent
								li.active Today
								li Tomorrow
								li Next week
							div.filter-checked.grid-10.mobile-grid-10.grid-parent
								button.active(data-step="0") Todo
								button(data-step="1") Done
								button(data-step="2") Both
						ul.objects
							li.add
								div
									span.fa.fa-plus
								div.input
									input(placeholder="Type here your new task")
								div.buttons
									button.save
										| save
										span.fa.fa-save
									button.cancel.hide-on-mobile
										| cancel
										span.fa.fa-remove
							li
								.content
									.due
										.day 28
										.month JAN
									.labelandtags.grid-container.grid-parent
										.label.grid-66 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
										.tags.grid-33.hide-on-mobile tag1 tag2
										.expand
											button.fa.fa-chevron-circle-down
								.actions
									button.fa.fa-check
							li
								.content
									.due
										.day 28
										.month JAN
									.labelandtags.grid-container.grid-parent
										.label.grid-66 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
										.tags.grid-33.hide-on-mobile tag1 tag2
										.expand
											button.fa.fa-chevron-circle-down
								.actions
									button.fa.fa-check
							li
								.content
									.due
										.day 28
										.month JAN
									.labelandtags.grid-container.grid-parent
										.label.grid-66 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
										.tags.grid-33.hide-on-mobile tag1 tag2
										.expand
											button.fa.fa-chevron-circle-down
								.actions
									button.fa.fa-check
							li
								.content
									.due
										.day 28
										.month JAN
									.labelandtags.grid-container.grid-parent
										.label.grid-66 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
										.tags.grid-33.hide-on-mobile tag1 tag2
										.expand
											button.fa.fa-chevron-circle-down
								.actions
									button.fa.fa-check





		//div#tabs
			div.tab.help
				article
					section
						h1 Comment démarrer
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
					section
						h1 Rechercher du contenu
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos distinctio dolores deleniti perferendis eius aliquam omnis delectus sit adipisci rem sequi amet velit cupiditate explicabo molestiae harum numquam praesentium!
			div.tab.browse.selected
				div.listobjects.notes
					div.col1
						div.actions
							div.new-note
								.title NEW NOTE
								.subtitle Type here the title of a new note you would like to create.
								.form
									input.mousetrap(type="text", placeholder="Name here your new note")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button open a new note
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search notes")
							div.filter-editor
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						// Hereafeter will be displayed the objects
						ul.objects.notes.draggable
					div.col3
				div.listobjects.tasks.selected
					div.col1
						div.jumper
							button JUMP TO
							span.fa.fa-angle-down
						div.dropzone
							.title dropzone
							.subtitle Drag tasks and drop them below to postpone them
							ul.zones
								li.droppable.today Today
								li.droppable.tomorrow Tomorrow
								li.droppable.nextweek Next week
								li.droppable.later Later
						div.actions
							div.new-task
								.title NEW TASK
								.subtitle Type here the content of a new task you would like to create. 
								.form
									input.mousetrap(type="text", placeholder="Describe here your new task")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button save task
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								//span
									input.mousetrap.autocomplete(type="text", placeholder="filter by objects", style="display:none")
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search tasks")
							div.filter-editor
								span.checked
									button.filter-checked(data-step="0") Todo
									button.filter-checked(data-step="1", style="display:none") Done
									button.filter-checked(data-step="2", style="display:none") Both
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						//div.actions-contextual-selection
							button.select-all Tout sélectionner
							button.unselect-all Tout déselectionner
						//div.actions-contextual-trigger
							button.delete Supprimer
						//ul.actions-contextual
							li.delete
								span.action Delete tasks
								span.cancel Cancel
						// Hereafeter will be displayed the objects
						ul.objects.tasks.draggable
					div.col3
						//div.saved-filters
							.title saved filters
							.subtitle Click on the star on the right end of the search bar to save the current filter and browse quicker next time
				div.listobjects.tags
					div.col1
						div.actions
							div.new-tag
								.title NEW TAG
								.subtitle Type here the label of a new tag you would like to create. 
								.form
									input.mousetrap(type="text", placeholder="Describe here your new task")
									//- input class is mousetrap to ensure mousetrap can capture keyboard events in here
								button save tag
					div.col2
						div.search-wrapper
							div.super-input
								span.objectButtons
								input.mousetrap.autocomplete.search(type="text", autofocus, placeholder="search tags")
							div.filter-editor
								ul
								input(style="display:none", type="text", placeholder="type a name for this new filter")
								span
									button.action.delete(style="display:none") Delete active filter
									button.action.save(style="display:none") Save current filter
									button.action.saveConfirm(style="display:none") Save
						ul.objects.tags.draggable
					div.col3
		//div#editors.children-count-0
			//div.editor note 1
			//div.editor note 2
			//div.editor note 3
