doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
//[if gt IE 8]><!
- if (environment == "development") {
html(class="no-js", manifest="cache.manifest.failure")
- }
- else {
html(class="no-js", manifest="cache.manifest")
-}
	//<![endif]
	head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	title= version
	meta(name="description", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")


	link(rel="stylesheet", href= "/font/font-awesome-4.4.0/css/font-awesome.css")
	link(rel="stylesheet", href= "/stylesheets/jquery-ui-lightness/jquery-ui-1.10.3.custom.min.css")
	link(rel="stylesheet", href= "/stylesheets/lib/unsemantic-grid-responsive.css")
	link(rel="stylesheet", href= "/javascripts/lib/jquery-simplecolorpicker/jquery.simplecolorpicker.css")
	link(rel="stylesheet", href= css)
	body#meenoApp
		//if lt IE 7
			p.chromeframe
			| You are using an
			strong outdated
			| browser. Please
			a(href="http://browsehappy.com/") upgrade your browser
			| or
			a(href="http://www.google.com/chromeframe/?redirect=true") activate Google Chrome Frame
			| to improve your experience.
		block content