# Ignore server-side vendor folder (can be reconstructed with node install)
node_modules*

# Ignore configuration files (DB password and others), logs,...
app/config/private*
app/logs*
app/pids*
.sublime-grunt.cache
npm-debug.log
jshint-output.xml
jshint-output.xsl