html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main{margin:0;padding:0;border:0;outline:0;display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]),[hidden]{display:none}
@font-face{font-family:"modernpics";src:url("../font/modernpics.otf")}
html{width:100%;height:100%;overflow:hidden;background-color:#999}
html{
		background-image: -moz-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),-moz-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),-moz-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),-moz-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
		background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),-webkit-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),-webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),-webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
		background-image: -o-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),-o-linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),-o-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),-o-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
		background-image: -ms-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),-ms-linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),-ms-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),-ms-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
		background-image: linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
		background-size: 13px, 29px, 37px, 53px;
	}
body{margin:0 auto;width:90%;height:100%;position:relative;background:none}
#main{height:100%;padding:1em 0 1em 15em;position:relative}
header{zoom:1;color:#fff;font-size:1em;position:relative;top:0;margin-top:1em;}
header:before,header:after{content:"";display:table}
header:after{clear:both}
header a{float:left;display:inline-block;position:relative;color:inherit;text-decoration:none;}
header a:before{content:attr(title);position:absolute;left:-6.382978723404255em;width:6.382978723404255em;top:-.2em;font-size:2.35em;color:rgba(255,255,255,0.7);text-align:center}
header h1{padding:.5em;margin:0;font-size:1em}
header ul{float:right;list-style:none;margin:0;padding:0;display:inline-block;}
header ul li{display:inline-block;vertical-align:middle;padding:.5em;}
header ul li.selected,header ul li:hover,header ul li:active{background-color:#fff;color:#000;cursor:pointer}
header .organisation{color:rgba(255,255,255,0.5);}
header .organisation:after{content:"\00A0"}
.actions-main,.actions-contextual{width:15em;list-style:none;margin:0;padding:0;}
.actions-main li,.actions-contextual li{padding:.5em;margin-bottom:.25em;cursor:pointer;}
.actions-main li:before,.actions-contextual li:before{font-family:'modernpics';position:relative;font-size:1.5em;margin:0 5px 0}
.actions-main{height:100%;padding-top:5.5em;position:absolute;z-index:1;}
.actions-main li{margin-right:1em;background-color:rgba(255,255,255,0.5);}
.actions-main li:before{content:"+"}
.actions-main li:hover,.actions-main li:active{background-color:#fff}
.actions-contextual{position:absolute;top:14em;left:0;z-index:2;}
.actions-contextual li{display:none;background-color:#fff;}
.actions-contextual li.delete:before{content:'I'}
.actions-contextual li.close:before{content:'X'}
.actions-contextual li.clone:before{content:'W'}
.actions-contextual li.related:before{content:'K'}
.actions-contextual li.unselect:before{content:'K'}
.actions-contextual li.select{display:list-item;}
.actions-contextual li.select:before{content:'%'}
.actions-contextual.hasSelected li{display:list-item}
.tab.object.note .actions-contextual li{display:list-item}
nav{background-color:rgba(255,255,255,0.35);}
nav ul{list-style:none;padding:0;margin:0;display:inline-block;}
nav ul li{display:inline-block;padding:.5em;vertical-align:middle;}
nav ul li.selected,nav ul li:hover,nav ul li:active{background-color:#fff;cursor:pointer}
nav .object{max-width:7em;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
#tabs{background-color:#fff;padding:1em;height:74%;height:-moz-calc(100% - 13em);height:-webkit-calc(100% - 13em);height:calc(100% - 13em)}
.tab{display:none;}
.tab.selected{display:block;height:100%}
.tab.help,.tab.object{overflow-y:scroll}
.browse .filter input{width:100%}
.browse .filter ul{list-style:none;padding:0;margin:0;display:block;border-top:1px #4d4d4d solid;}
.browse .filter ul li{border-top:3px transparent solid;color:#4d4d4d;display:inline-block;padding:.5em;vertical-align:middle;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.browse .filter ul li.selected,.browse .filter ul li:hover,.browse .filter ul li:active{border-top-color:#4d4d4d;opacity:1;-ms-filter:none;filter:none;cursor:pointer}
.browse .filter ul li:before{margin-right:10px;font-size:.9em}
.listobjects{display:none;height:89%;height:-moz-calc(100% - 4em);height:-webkit-calc(100% - 4em);height:calc(100% - 4em);}
.listobjects.selected{display:block;overflow-y:scroll}
.listobjects ul.notes,.listobjects ul.tags{list-style-type:none;margin:1em 0 0;padding:0;}
.listobjects ul.notes li,.listobjects ul.tags li{margin:0;padding:.5em;}
.listobjects ul.notes li:hover,.listobjects ul.tags li:hover{background-color:rgba(0,0,0,0.1)}
.listobjects ul.notes li span.button,.listobjects ul.tags li span.button{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);text-shadow:1px 1px 1px #fff;margin:0 0 0 10px;font-size:.9em}
.listobjects ul.notes li:hover span.button,.listobjects ul.tags li:hover span.button{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
.listobjects ul.notes li:hover span.button:before,.listobjects ul.tags li:hover span.button:before{font-family:'modernpics';position:relative;font-size:1.3em;margin:0 5px 0}
.listobjects ul.notes li:hover span.button:hover,.listobjects ul.tags li:hover span.button:hover{opacity:1;-ms-filter:none;filter:none;cursor:pointer}
.listobjects .checkbox{margin:0 8px 0 0}
.listobjects ul.notes span.delete:before,.listobjects ul.tags span.delete:before{content:'I'}
.listobjects ul.notes li p{margin:0;}
.listobjects ul.notes li p.date{font-size:.85em;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.tab .editable{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.tab .editable:hover,.tab .editable:focus{opacity:1;-ms-filter:none;filter:none}
.tab h1{font-size:2em}
.tab section.edit-content{margin:20px 0 0 0}
.edit-content:focus{border:0}
.edit-content input{border:0;background-color:transparent}
.edit-content .tag{margin:5px;padding:0 5px;background-color:#d3d3d3;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);border:1px dashed #808080;text-shadow:#fff 0 1px 0;-webkit-border-radius:5px;border-radius:5px;}
.edit-content .tag:before{margin:0 5px 0 0;font-size:.8em;color:#808080;text-shadow:#fff 0 1px 0}
.edit-content .locked{border:1px solid #808080;opacity:1;-ms-filter:none;filter:none}
.edit-content .broken{border:1px solid #f00;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70)}
#footer{background-color:rgba(0,0,0,0.35);color:#fff;zoom:1;}
#footer:before,#footer:after{content:"";display:table}
#footer:after{clear:both}
#footer p{margin:0;padding:1em}
#footer .current-action{float:left}
#footer .sync-status{float:right;width:15em;background-color:rgba(0,0,0,0.35)}
