@font-face{font-family:"modernpics";src:url("../fonts/modernpics.otf")}
@font-face{font-family:"fontawesome";src:url("../fonts/fontawesome.ttf")}
#header,#fixed,#backgrounds{position:fixed;top:0;left:50%;margin-left:-600px;padding:0;width:1200px}
#header{z-index:15;}
#header .app,#header .search,#header .editor{position:absolute;z-index:15;left:350px;width:850px}
#header .search,#header .editor{height:45px;overflow:hidden;top:21.5px}
#header .search{left:0;width:350px}
#backgrounds{top:0;height:100%}
#fixed{z-index:7}
#search-tabs-list-wrapper,#note-list-wrapper,#editor-tabs-list-wrapper,#editor-controls-list-wrapper{position:absolute;top:0;margin:0;padding:0}
#search-tabs-list-wrapper,#editor-tabs-list-wrapper{top:80px;height:40px}
#search-tabs-list-wrapper{left:0;width:350px}
#note-list-wrapper{top:120px;left:0;width:350px}
#editor-tabs-list-wrapper,#editor-controls-list-wrapper{left:350px;width:850px}
#editor-controls-list-wrapper{top:120px;height:30px}
#scrollables{position:absolute;top:150px;left:50%;margin-left:-600px}
#editor-content-list{position:absolute;top:0;margin:0;padding:0;left:350px;width:850px}
body{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(0.83, #e6e6e6), color-stop(0.8, #cfcfcf), color-stop(1.2, #e6e6e6));background:-webkit-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px);background:-moz-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px);background:-o-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px);background:-ms-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px);background:linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px);background-attachment:fixed}
#header-bg{position:fixed;left:0;top:0;width:100%;height:150px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(0.83, #e6e6e6), color-stop(0.8, #cfcfcf), color-stop(1.2, #e6e6e6), color-stop(2.5, rgba(230,230,230,0)));background:-webkit-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px, rgba(230,230,230,0) 250px);background:-moz-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px, rgba(230,230,230,0) 250px);background:-o-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px, rgba(230,230,230,0) 250px);background:-ms-linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px, rgba(230,230,230,0) 250px);background:linear-gradient(top, #e6e6e6 0px, #e6e6e6 83px, #cfcfcf 80px, #e6e6e6 120px, rgba(230,230,230,0) 250px);background-attachment:fixed;z-index:2}
#liner-bg{position:fixed;height:1px;width:100%;background-color:#9ebec6;top:80px;left:0;z-index:5}
#search-bg-top,#search-bg{position:absolute;margin:0;width:350px;background-color:#000;background-attachment:fixed;opacity:.6;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);filter:alpha(opacity=60)}
#search-bg{top:150px;height:100%;z-index:0}
#search-bg-top{top:0;height:150px;z-index:6}
body{font-family:Helvetica,Arial;font-size:.9em;color:#434343}
#header .search #search-wrapper{position:relative;top:-10px;padding:0 20px;margin:0;}
#header .search #search-wrapper input{padding:0;margin:0;background:transparent;font-size:1.5em;border:0;color:#ddd;}
#header .search #search-wrapper input:hover{color:#ddd}
#header .editor .wrapper{padding:0 0 0 15px;}
#header .editor .wrapper button{padding:0;background:transparent;font-size:1.5em;border:0;color:#989898;}
#header .editor .wrapper button:hover{cursor:pointer;color:#434343}
#new{text-shadow:1px 1px 1px #fff;}
#new:before{font-family:'modernpics';content:'r';position:relative;top:3px;font-size:1.5em;margin:0 5px 0}
#search-wrapper p{-webkit-border-radius:8px;border-radius:8px;background:transparent;}
#search-wrapper p:hover{background:#4d4d4d}
#search-wrapper p:before{font-family:'modernpics';content:'s';position:relative;top:2px;font-size:2.2em;margin:0 5px 0;color:#858585}
#search-wrapper:hover p:before{color:#ddd}
ul#editor-tabs-list,ul#search-tabs-list{list-style-type:none;margin:0;padding:0 30px;color:#989898;}
ul#editor-tabs-list li,ul#search-tabs-list li{float:left;margin:0;padding:10px 20px;letter-spacing:.09em;}
ul#editor-tabs-list li:hover,ul#search-tabs-list li:hover{cursor:pointer;border-top:4px solid #9ebec6;padding:6px 20px;color:#434343}
ul#editor-tabs-list .active,ul#search-tabs-list .active{border-top:4px solid #9ebec6;padding:6px 20px;color:#434343}
ul#search-tabs-list{color:#858585;padding:0 20px;}
ul#search-tabs-list li{padding:10px 15px;}
ul#search-tabs-list li:hover{border-top:4px solid #4f7b87;padding:6px 15px;color:#ddd}
ul#search-tabs-list .active{border-top:4px solid #4f7b87;padding:6px 15px;color:#ddd}
#note-list{padding:0 35px}
#editor-controls-list{padding:0 50px;height:30px;}
#editor-controls-list .editor-controls{background-color:rgba(0,0,0,0.1);-webkit-border-radius:4px;border-radius:4px;height:100%;text-align:right;padding:0 5px 0;line-height:.9em;}
#editor-controls-list .editor-controls:hover{background-color:rgba(0,0,0,0.12)}
#editor-controls-list .editor-controls span,#editor-controls-list .editor-controls button{margin:4px 0 0 5px}
#editor-controls-list .editor-controls .del{float:left}
#editor-controls-list .editor-controls span{padding:5px 0 0}
#note-list{color:#ddd;font-size:.9em;list-style-type:none;}
#note-list li{padding:0 0 5px;}
#note-list li:hover{color:#9ebec6;cursor:pointer}
#note-list li p{margin:0}
#note-list li .date{color:#858585}
.editor-content{padding:15px 50px;line-height:1.5em;}
.editor-content .attributes{margin:0 0 20px 0;color:#989898;line-height:1.3em;}
.editor-content .attributes p{margin:0}
.editor-content .editable{color:#434343;}
.editor-content .editable:hover{color:#0d0d0d}
.editor-content h1{margin:30px 0 15px 0}
.editor-content h1,.editor-content h2,.editor-content h3{text-shadow:1px 1px 1px #fff}
#editor-permanent div{padding:5px 30px 15px 30px;background-color:rgba(0,0,0,0.1);-webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);box-shadow:0 0 20px rgba(0,0,0,0.3);-webkit-border-radius:10px;border-radius:10px}
