@import 'nib'

// J : tag
// T : croix
// I : poubelle
// V : editer
// r : editer

cBgGrey           = lighten(#000000, 20%)
cBgBrowserInputs  = lighten(#000000, 15%)
cTextSec          = lighten(#000000, 50%)
cTextSecActive    = lighten(#000000, 70%)
cTextSecActiveRev = lighten(#000000, 20%)

cTxtGrey          = lighten(#000000, 50%) // grey non clickable
cTxtBtnGrey0      = lighten(#000000, 40%) // grey activable
cTxtBtnGrey1      = lighten(#000000, 70%) // grey activable active
cTxtBtnHeadWhite0 = lighten(#000000, 50%) // header white clickable
cTxtBtnHeadWhite1 = lighten(#000000, 90%) // header white clickable active
cTxtRead          = lighten(#000000, 90%) // main body of text, for easy reading
cTxtBtnBlue0      = #348bcd // blue clickable
cTxtBtnBlue1      = lighten(cTxtBtnBlue0, 40%) // blue clickable active

cText             = #434343
cTextFaded        = lighten(#535353, 40%)
cTextRev          = #dddddd
cTextRevFaded     = darken(#dddddd, 40%)
cDarkGrey         = lighten(#000000, 30%)
cLightGrey        = lighten(#000000, 90%)
cBlueLine         = lighten(#5e939f, 40%)
wApp              = 1200px
wRightCol         = 850px
wLeftCol          = wApp - wRightCol
wLeftColPad       = 35px
wRightColPad      = 50px
zLiner            = 5
pyLiner           = 80px
pHeadersV         = 40px
pWrappPadV        = pyLiner - pHeadersV
hTabs             = 40px
hControls         = 30px
hFadeOut          = 100px

global-reset()
reset-html5()

@font-face
	font-family "modernpics"
	src url("../font/modernpics.otf")

html
	width 100%
	height 100%
	overflow hidden
	background-color #777
	font-size 16px
	

// FONT SIZES
.col1, .col3
	font-size 0.95rem
.col2
	font-size 1rem
header, body:before
	font-size 1.1rem

rFontSize = 1.5




body
	margin 0 auto
	width 100%
	height 100%
	position relative
	background none
	&:before
		content ""
		margin-top rFontSize * 2em
		width 100%
		box-shadow 0 0 0.5em black
		position absolute
		height calc(100% - 2em)
		display block


#main
	height 100%
	padding 0
	position relative

	max-width 1280px
	margin 0 auto

header
	clearfix()
	color #FFF
	position relative
	top 0
	h1
		font-size rFontSize * 1em
		float left
		padding .5em
		margin 0
		width 8em

nav
	float left
	ul
		clearfix()
		list-style none
		padding 0
		margin 0
		li
			float left
			// padding .5em
			padding (((rFontSize * 2) - 1) / 2) * 1em //revoir formule de calcul
			&.selected,&:hover,&:active
				background-color #FFF
				cursor pointer
				color black
	.object
		max-width: 7em;
		overflow: ellipsis;
		


#tabs
	background-color cBgGrey
	height '-moz-calc(%s - %s)' % (100% rFontSize * 2em)
	height '-webkit-calc(%s - %s)' % (100% rFontSize * 2em)
	height 'calc(%s - %s)' % (100% rFontSize * 2em)
	max-width 1280px
	margin auto 0

.listobjects
	height 100%
	overflow-y hidden
	.col2
		height 100%





// Preparing BROWSER grid
.listobjects
	.col1, .col2, .col3
		float:left
	.col1, .col3
		width 20%
	.col2
		width 60%
		
.actions-main,.actions-contextual
	width 15em
	list-style none
	margin 0
	padding 0
	li
		padding .5em
		margin-bottom .25em
		cursor pointer
		&:before
			font-family 'modernpics'
			position relative
			font-size 1.5em
			margin 0 5px 0

.actions-main
	height 100%
	padding-top 5.5em
	position absolute
	z-index 1
	li
		margin-right 1em
		background-color rgba(255,255,255,.5)
		&:before
			content "+"
		&:hover,&:active
			background-color #FFF

.actions-contextual
	z-index 2
	li
		background-color #FFF
		&.delete:before
			content 'I'
		&.close:before
			content 'X'
		&.clone:before
			content 'W'
		&.related:before
			content 'K'
		&.unselect:before
			content 'K'
		&.select
			display list-item
			&:before
				content '%'
	&.hasSelected li
		display list-item
.tab.object.note .actions-contextual li
	display list-item



.tab
	display none
	&.selected
		display block
		height 100%
	&.help, &.object
		overflow-y scroll


//======================================
// BROWSER OBJECTS
//======================================

.listobjects
	display none
	font-family 'Arial'
	&.selected
		display block

	// Left/Right actions bar (add, dropzones,...)
	//--------------------------------------------------
	.col1, .col3
		color cTextSec
		.title
			margin 1em 1em 0.3em 1em
		.subtitle
			margin 0 1em 1em
		.zones, .form
			margin 0 1em
	.dropzone
		display none
	.zones
		li
			border 1px solid cTextSec
			border-radius 5px
			padding 20px
			margin-bottom 0.5em
		.target
			border 1px solid cTextSecActive
		.target-hover
			color cTextSecActiveRev
			border 1px solid cTextSecActive
			background-color cTextSecActive

	.col1 .actions
		.form
			padding 0.3em 0.2em
			background-color cBgBrowserInputs
			input
				background-color transparent
				color cTxtRead
				border none
				width 100%
		button
			float right
			color cTxtBtnBlue0
			border none
			padding 0
			margin 0.2em 1.2em
			background-color transparent
			&:after
				font-family 'modernpics'
				font-size 1em
				margin 0 0 0 5px
				content "%"
			&:hover
				color cTxtBtnBlue1
				cursor pointer

	// Search bar and filters
	//--------------------------------------------------
	.super-input
			border-radius 4px
			margin 10px 0 0 0
			padding 9px 6px
			background-color cBgBrowserInputs
			color cTxtRead
		.objectButtons span
			background transparent
			padding 2px 5px
			margin 0 5px 0 0
			font-size 0.8em
			border 1px solid grey
			border-radius 2px
			opacity 0.7
			&:hover
				cursor pointer
				opacity 1
				text-decoration line-through
		input.search
			color cTxtRead
			border none
			background-color transparent
		input.autocomplete
			color cTxtRead
			border 1px dotted grey
			background-color transparent
			margin 0 5px 0 0
			padding 2px 5px
			font-size 0.8em
			border-radius 2px
	.filter-editor
		border-bottom 1px solid rgba(255, 255, 255, 0.1)
		.checked button
			border none
			opacity 0.5
			background-color: rgba(255, 255, 255, 0.1);
			border-radius 2px
			padding 2px
			margin 5px 10px 5px 0px
			font-size 0.6em
			vertical-align middle
			text-transform uppercase
			color cTextFaded
			&:hover
				opacity 1
				color cTxtBtnHeadWhite1
				cursor pointer
		button.action
			float right
			color cTxtBtnBlue0
			border none
			padding 6px
			margin 0
			background-color transparent
			&:hover
				color cTxtBtnBlue1
				cursor pointer
		button.action, ul li
			padding 6px
			font-size 0.9em
			position relative
			top 1px
			padding 4px 0px 5px
		ul
			display inline-block
			li
				display inline-block
				margin 0 0.5em 0 0
				opacity 0.6
				border-bottom 1px solid transparent
				color cTxtBtnBlue0
				&:hover
					cursor pointer
				&.active, &:hover
					border-bottom 1px solid cTxtBtnBlue0
					opacity 1
				&:before
					opacity 0.6
					margin-right 0.5em

	// Business objects to be displayed
	//--------------------------------------------------
	ul.objects
		overflow-y: scroll;
		height: calc(100% - 6em);
		list-style-type none
		margin 1em 0 0
		padding 0
		.milestone
			font-size 1.2em
			color grey
			margin 1em 0 0 0
		li.task
			color cTxtRead
			font-size 0.9em
			margin 0.5em 0 0 0
			padding 0	
			.default button, .default.inactive, .edition
				display none
			&:hover
				.default button
					display initial
					color cTxtBtnBlue0
					border 0
					background-color transparent
					height 1em
					&:before
						font-family 'modernpics'
						font-size .9em
						margin 0 5px 0 2px
					&:hover
						color cTxtBtnBlue1
						cursor pointer
				.label .default button.edit:before
					content "V"
				.label .default button.delete:before
					content "I"
				.tags .default button:before
					content "J"
				.default button.inactive
					display none
				&:before
					color cTxtBtnBlue0
			&:before
				position relative
				float left
				font-family 'modernpics'
				content "K"
				font-size 1.3em
				margin 0 5px 0 0
				cursor move
			&.completed
				.label .attribute
					text-decoration line-through
			.due
				display block
				position relative
				float left
				width 2em
				text-align center
				margin 0 0 0 .2em
				opacity 0.3
				&:hover
					cursor pointer
				&.urgent
					opacity 1
				&.veryurgent
					opacity 1
					color orange
				.day
					display block
					font-size 1.2em
					font-weight bold
				.month
					display block
					text-transform uppercase
					font-size 0.8em
			.label
				display block
				margin 0 0 0 4em
				.attribute:hover
					text-decoration line-through
					cursor pointer
				input
					border none
					background-color transparent
					color cTxtRead
					padding 0
				.edition.active
					background-color cBgBrowserInputs
					display block
					padding 0.3em
					button			
						background-color cBgBrowserInputs
						float right
						position relative
						display initial
						color cTxtBtnBlue0
						border 0
						margin 0 0 0 0.5em
						padding 0
						background-color transparent
						&:hover
							color cTxtBtnBlue1
							cursor pointer
			.edition
				button
					&:before
						font-family 'modernpics'
						margin 0 0.3em 0 0
					&.save:before
						content "%"
					&.cancel:before
						content "X"
			.tags
				display block
				margin 0 0 0 4em
				padding 0
				height 20px
				.edition 
					font-size 0.9em
				.edition button
					float right
					position relative
					display initial
					color cTxtBtnBlue0
					border 0
					margin 0 0 0 1em
					background-color transparent
					&:hover
						color cTxtBtnBlue1
						cursor pointer
				.buttons
					padding 0
					margin 0
					opacity 0.6
					font-size 1em
					button
						font-size 0.8em
						padding 0
						margin 0 0.5em 0 0
						background-color transparent
						border 0
						color cTxtRead
						&:hover
							cursor pointer
							text-decoration line-through
						&:before
							display inline-block
							content ""
							margin 0 0.5em 0 0
							padding 0
							width 0.5em
							height 0.5em
							border solid 1px white;
							background-color black
							color white
				&.active
					background-color cBgBrowserInputs
					input
						border none
						margin 0
						background-color transparent
						color cTxtRead
					.edition
						display initial
						background-color cBgBrowserInputs
	.checkbox
		margin 0 8px 0 0
	
	// Contextual actions
	//--------------------------------------------------
	.actions-contextual-trigger
		display none
		button
			display none
	.actions-contextual-selection
		display none
		.select-all, .action
			display inline-block
		.unselect-all
			display none
	.actions-contextual
		.cancel
			display none


	ul.objects
		span.delete:before
			content 'I'
		/*span.edit:before
			content 'e'*/
	ul.notes
		li
			p
				margin 0
				&.date
					font-size 0.85em
					opacity 0.5
		span.tags span
			color grey

.tab
	.editable
		opacity 0.7
		&:hover, &:focus
			opacity 1
	h1
		font-size: 2em
	section.edit-content
		margin 20px 0 0 0

.edit-content
	&:focus
		border 0
	input
		border 0
		background-color transparent
	.object
		margin 5px
		padding 0 5px
		background-color lightgrey
		opacity 0.7
		border 1px dashed grey
		text-shadow white 0 1px 0
		border-radius 5px
		&:before
			margin 0 5px 0 0
			font-size .8em
			color grey
			text-shadow white 0 1px 0
	.locked
		border 1px solid grey
		opacity 1
	.broken
		border 1px solid red
		opacity 0.7

#footer
	background-color rgba(0,0,0,.35);
	color #FFF
	clearfix()
	p
		margin 0
		padding 1em
	.current-action
		float left
	.sync-status
		float right
		width 15em
		background-color rgba(0,0,0,.35)