// @import 'nib'

cText         = #434343
cTextFaded    = lighten(#535353, 40%)
cTextRev      = #dddddd
cTextRevFaded = darken(#dddddd, 40%)
cDarkGrey     = lighten(#000000, 30%)
cLightGrey    = lighten(#000000, 90%)
cBlueLine     = lighten(#5e939f, 40%)
wApp          = 1200px
wRightCol     = 850px
wLeftCol      = wApp - wRightCol
wLeftColPad   = 35px
wRightColPad  = 50px
zLiner        = 5
pyLiner       = 80px
pHeadersV     = 40px
pWrappPadV    = pyLiner - pHeadersV
hTabs         = 40px
hControls     = 30px
hFadeOut      = 100px

global-reset()
reset-html5()

@font-face
	font-family "modernpics"
	src url("../fonts/modernpics.otf")

@font-face
	font-family "fontawesome"
	src url("../fonts/fontawesome.ttf")

html
	width 100%
	height 100%
	background-color: #999;
	background-image: -moz-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),-moz-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),-moz-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),-moz-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.07) 50%, transparent 50%),-webkit-linear-gradient(0deg, rgba(255,255,255,.13) 50%, transparent 50%),-webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.17) 50%),-webkit-linear-gradient(0deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -o-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),-o-linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),-o-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),-o-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: -ms-linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),-ms-linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),-ms-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),-ms-linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;

body
	padding 0
	margin 0 auto
	width 100em
	height 100%
	display table
	position relative

 #main, .actions-main
	display table-cell

header
	// clearfix()
	&:before
	&:after
		content: ""
		display: table
	&:after
		clear: both
	zoom: 1 if support-for-ie
	color #FFF
	font-size 1em
	position relative
	top 0
	a
		float left
		display inline-block
		position relative
		color inherit
		text-decoration none
		&:before
			fSize = 2.35
			content attr(title)
			position absolute
			left (-15/fSize)em
			width (15/fSize)em
			top .5em
			font-size  fSize * 1em;
			color rgba(255,255,255,.7)
			text-align center
	h1
		padding .5em
		margin 0
		font-size 1em
	ul
		float right
		list-style none
		margin 0
		padding 0
		display inline-block
		li
			display inline-block
			vertical-align middle
			padding .5em
			&.selected,&:hover,&:active
				background-color #FFF
				color black
				cursor pointer
	.organisation
		color rgba(255,255,255,.5)
		&:after
			content "\00A0"

.actions-main,.actions-contextual
	width 15em
	// left 0
	// position fixed
	list-style none
	margin 0
	padding 0
	li
		padding .5em
		margin-bottom .25em
		cursor pointer
		&:before
			font-family 'modernpics'
			position relative
			font-size 1.5em
			margin 0 5px 0

.actions-main
	padding-top 4.5em
	li
		margin-right 1em
		background-color rgba(255,255,255,.5)
		&:before
			content "+"
		&:hover,&:active
			background-color #FFF

.actions-contextual
	position absolute
	top 13em
	left 0
	li
		display none
		background-color #FFF
		&.delete:before
			content 'I'
		&.close:before
			content 'X'
		&.clone:before
			content 'W'
		&.related:before
			content 'K'
		&.unselect:before
			content 'K'
		&.select
			display list-item
			&:before
				content '%'
	&.hasSelected li
		display list-item
.tab.object.note .actions-contextual li
	display list-item

nav
	background-color rgba(255,255,255,.35);
	ul
		list-style none
		padding 0
		margin 0
		display inline-block
		li
			display inline-block
			padding .5em
			vertical-align middle
			&.selected,&:hover,&:active
				background-color #FFF
				cursor pointer
	.object
		white-space: nowrap;
		max-width: 7em;
		overflow: hidden;
		text-overflow: ellipsis;

#tabs
	background-color #FFF
	padding 1em
	height 70%
	overflow-y scroll

.tab
	display none
	&.selected
		display block

.browse
	.filter
		input 
			width 100%
		ul
			list-style none
			padding 0
			margin 0
			display block
			border-top 1px cDarkGrey solid
			li
				border-top 3px transparent solid
				color cDarkGrey
				display inline-block
				padding .5em
				vertical-align middle
				opacity .7
				&.selected,&:hover,&:active
					border-top-color cDarkGrey
					opacity 1
					cursor pointer

.listobjects
	display none
	&.selected
		display block
	ul.notes, ul.tags
		list-style-type none
		margin 1em 0 0
		padding 0
		li
			margin 0
			padding 0.5em
			&:hover
				background-color rgba(0,0,0,0.1)
			span.button
				opacity 0
				text-shadow 1px 1px 1px white
				margin 0 0 0 10px
				font-size 0.9em
			&:hover span.button
				opacity 0.5
				&:before
					font-family 'modernpics'
					position relative
					font-size 1.3em
					margin 0 5px 0
				&:hover
					opacity 1
					cursor pointer
	ul.notes, ul.tags
		span.delete:before
			content 'I'
		span.edit:before
			content 'e'
	ul.notes
		li
			p
				margin 0
				&.date
					font-size 0.85em
					opacity 0.5

.edit-content
	&:focus
		border 0
	.tag
		margin 5px
		background-color lightgrey
		opacity 0.7
		border 1px dashed grey
		.icon
			display inline-block
			content: "#"
	.locked
		border 1px solid black
		opacity 1


#footer
	background-color rgba(0,0,0,.35);
	color #FFF
	// clearfix()
	&:before
	&:after
		content: ""
		display: table
	&:after
		clear: both
	zoom: 1 if support-for-ie
	p
		margin 0
		padding 1em
	.current-action
		float left
	.sync-status
		float right
		width 15em
		background-color rgba(0,0,0,.35)