
@import 'nib'

// J : tag
// T : croix
// I : poubelle
// V : editer
// r : editer

global-reset()
reset-html5()

cBgGrey            = lighten(#000000, 20%)
cObjectBorder0     = rgba(255, 255, 255, .3)
cObjectBorder1     = rgba(255, 255, 255, .4)
cObjectBg1         = rgba(255, 255, 255, .08)
cObjectBg2         = rgba(255, 255, 255, .11)
cButtonColor0      = rgba(255, 255, 255, 0.5)
cButtonColor1      = rgba(255, 255, 255, 0.8)
cButtonColor2      = rgba(255, 255, 255, 1)
cButtonBorder0     = rgba(255, 255, 255, .3)
cButtonBorder1     = rgba(255, 255, 255, .6)
cButtonBorder2     = rgba(255, 255, 255, .8)
cButtonBg1         = rgba(255, 255, 255, .1)
cButtonBg2         = rgba(255, 255, 255, .3)
cButtonIcon0       = rgba(255, 255, 255, .5)
cButtonIcon1       = rgba(255, 255, 255, .7)
cButtonIcon2       = rgba(255, 255, 255, .9)
cButtonActive      = rgba(255, 255, 255, 1)
cButtonMilestone0  = rgba(255, 255, 255, .1);
cButtonMilestone05 = rgba(255, 255, 255, .5);
cButtonMilestone1  = rgba(255, 255, 255, 1);
cCyan              = #0093FF
cInputBg0          = rgba(0, 0, 0, 0.2);
cInputBg1          = rgba(0, 0, 0, 0.3);

@font-face
	font-family "modernpics"
	src url("../font/modernpics.otf")
	
@font-face
	font-family "dense"
	src url("../font/Dense-Regular.otf")

@font-face
	font-family "moon"
	src url("../font/Moon-Light.otf")

html
	width 100%
	height 100%
	overflow hidden
	background-color cBgGrey
	font-size 16px
	
body
	margin 0 auto
	width 100%
	height 100%
	position relative
	background none

body 
	background-image url('../images/bg.jpg')

.red
	background-color red
	opacity .8

.green
	background-color green
	opacity .8

.white
	background-color white
	opacity .8
	
#main, #main > .content, #main > .content > .browser, #main > .content > .browser > .tab
	height 100%
//	& > .content
//		height calc(100% - 3em)

/*===================================================================================
------- MAIN NAVIGATION --------------------------------------------------------------
=====================================================================================*/

// For larger displays
@media screen and (min-width: 769px)
	#nav
		padding 1em 2em 0 0
	#editors-tabs
		padding .5em 2em 0 0

// For all displays
.navigation
	height 100%
	position relative
	h1
		letter-spacing -0.2em
		text-align right
		color white
		font-family helvetica
		font-weight bold
		margin 1em 2em 0 0
		opacity .8
		span
			font-size 3em
		.one
			color cCyan
	h2
		text-align right
		color white
		font-weight bold
		font-family Helvetica
		margin 1em 2em 0 0
		text-transform uppercase
		opacity 0.5
		span
			margin 0 0 0 1em
	.browse
		#nav
			color white
			font-family Dense
			text-align right
			li
				opacity .4
				font-size 2.5em
				padding 0 calc(.3em + 10px) 0 0
				background-color rgba(255, 255, 255, 0.1)
				margin .1em 0
				&.selected
					opacity .8
					padding 0 .3em 0 0
					border-right 10px solid cCyan
				&:hover:not(.selected)
					cursor pointer
					padding 0 .3em 0 0
					border-right 10px solid rgba(255, 255, 255, .5)
				&:active
					opacity .8
					padding 0 .3em 0 0
					border-right 10px solid cCyan
		#editors-tabs
			color #FFF
			font-family Helvetica, Arial
			text-align right
			li
				display table
				width calc(100% - 1em - 10px)
				font-size 1em
				letter-spacing -.05em
				opacity .4
				padding 0 calc(1em + 10px) 0 0
				background-color rgba(255, 255, 255, 0.1)
				margin .25em 0
				& > span
					display table-cell
					vertical-align middle
					&.close
						width 2.5em
						text-align center
						height 2.5em
						&:hover
							color cyan
					&:not(.close)
						white-space nowrap
						text-overflow ellipsis
						overflow hidden
						max-width 1em
				&:hover:not(.selected), &:active, &.selected
					padding 0 1em 0 0
				&:hover:not(.selected)
					cursor pointer
					border-right 10px solid rgba(255, 255, 255, .5)
				&.selected, &:active
					opacity .8
					border-right 10px solid #0093FF
	.misc
		position absolute
		bottom 0
		right 0
		margin 0 0 1em

// Hacks for mobile design
@media screen and (max-width: 768px) // to detect mobile phones
	#nav
		padding 1em 0 0 0
	#editors-tabs
		padding .5em 0 0 0
	.navigation
		background black url("../images/bg.jpg") no-repeat fixed left bottom
		width 3em
		transition width .4s ease
		height 3em
		overflow hidden
		.command
			margin auto
			.close
				display none
			.open
				display block
				height 3em
				width 3em
				background-color cInputBg0
				border none
				font-size 1em
				span
					font-size 1.5em
		.navigation-options
			display none
	#main.navigating
		& > .content
			height 100%
		& > .navigation
			width 80%
			z-index 1
			position absolute
			height 100%
			background-color rgba(16, 30, 32, 0.95)
			color white
			box-shadow 0 0 30px black
			.navigation-options
				display initial
			.command
				.close
					display block
					width 3em
					height 3em
					background-color transparent
					border 1px solid rgba(255, 255, 255, 0.1)
					span
						font-size 2em
				.open
					display none

/*===================================================================================
------- EDITOR DESIGN ---------------------------------------------------------------
=====================================================================================*/
.editors
	height 100%
	display none
	&.active
		display initial
	.editor
		height 100%
		.header
			display table
			width 100%
			height 3em
			& > div
				display table-cell
				vertical-align middle
			.close
				margin 0 .5em 0 0
				width 1em
				button
					padding .5em
					background-color transparent
					border none
					color cButtonColor0
					transition color .2s ease
					&:hover
						cursor pointer
						color cButtonColor1
					&:active
						color cButtonColor2
			.title
				max-width 1em
				font-size .9em
				text-overflow ellipsis
				overflow hidden
				font-family Helvetica
				white-space nowrap
				color cButtonColor0
				padding 1em 0
			.actions
				text-align right
				width 17em
				button
					font-size 0.8em
					margin 0
					padding 0
					margin .2em
					background none
					color cButtonColor0
					transition color .4s ease
					border none
					span
						font-family Arial
						margin 0 0 0 .5em
					&:hover
						cursor pointer
						color cButtonColor1
					&:active
						color cButtonColor2
		.body
			height calc(100% - 3em)
			box-shadow 0 0 30px rgba(0, 0, 0, .5)
			.left
				padding 0
				margin 0 5px 0 0
			.right
				padding 0 0 0 0
				margin 0 0 0 5px
			.left, .right
				float left
				width calc(50% - 5px)
				height 100%
				background-color white
				h1
					font-family moon
					font-size 2em
					margin .5em 0 .5em 0
				h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child
					margin 0 0 .5em 0
			.content
				height calc(100% - 4.6em)
				overflow auto
			.left, .right
				.summary
					padding 0 0 0 1.5em
				.content
					padding 0 1.5em 0
			.summary
				height 3.6em
				ul
					li
						display inline-block
						padding 1em .5em 1em .5em
						opacity .7
						font-family Dense
						font-size 1.2em
						&:hover
							padding calc(1em - 5px) .5em 1em .5em
							border-top 5px solid grey
							cursor pointer
						&:active, &.active
							padding calc(1em - 5px) .5em 1em .5em
							opacity 1
							border-top 5px solid cCyan


// Hacks for mobile design
@media screen and (max-width: 768px) // to detect mobile phones
	#main .editor
		.header, .body
			position relative
			top -3em
		.header
			padding 0 0 0 10px
			background-color rgba(0, 0, 0, 0.2)
			left calc(3em - 10px)
			width calc(100% - 3em + 10px)
			.actions
				width 11em
		.body
			height 100%
			position relative
			.summary
				padding 0 0 0 2em
			.left
				position absolute
				width calc(100% - 1em - 10px)
				left 0px
				top 0px
				transition left .4s ease, width .4s ease
				.content
					padding 0 1.5em 0 2em
			.right
				position absolute
				top 0px
				width 100%
				left calc(100% - 1em)
				transition left .4s ease, width .4s ease
			&.swiped
				.left
					width 100%
					left calc( (100% - 1em + 5px) * (-1) )
				.right
					width calc(100% - 1em - 10px)
					left calc(1em + 5px)
					.content
						padding 0 1.5em 0 2em
	#main.navigating > .content > .editors > .editor
		.header, .body
			top 0
		.body
			height calc(100% - 3em)
			
		
// Il vaut mieux décaler tout le content plutôt que les header, sinon les cacluls de hauteur sont 
// plus complexes encore

/*===================================================================================
------- BROWSER DESIGN --------------------------------------------------------------
=====================================================================================*/

.browser
	display none
	&.active
		display initial

// For classic displays
.search-box, .listobjects
	position relative
	top 1em

.search-box
	display table
	width 100%
	height 3em
	background-color cInputBg0
	color rgba(255, 255, 255, 0.5)
	margin 0 0 .5em
	& > div
		display table-cell
		vertical-align middle		
	.looking-glass
		width 1.7em
		padding 0 0 .2em .7em
		font-size 1.2em
	.tags
		width 1%
		white-space nowrap
		button
			border-radius 20px
			border 1px solid cButtonBorder0
			background-color transparent
			margin 0 .4em 0 0
			padding .2em .7em
			color cButtonColor0
			&:hover
				background-color cButtonBg1
				cursor pointer
				text-decoration	line-through
				border 1px solid cButtonBorder1
			&:active
				border 1px solid cButtonBorder2
				background-color cButtonBg2
				color white
	.input
		input
			width 100%
			background-color transparent
			border none
			color white
	.reset
		width 5em
		button
			padding 0px
			margin 0px
			width 100%
			text-align right
			background-color transparent
			border medium none
			color cButtonColor0
			span
				margin 0 1em 0 .6em
			&:hover
				cursor pointer
				color cButtonColor1
			&:active
				color white
.listobjects
	display none
	&.selected
		display block
		height calc(100% - 4.5em)
	.milestones
		display block
		height 3em
		padding .5em 0
		text-overflow ellipsis
		overflow hidden
		white-space nowrap
		li
			display inline-block
			color cButtonMilestone0
			text-transform uppercase
			letter-spacing .05em
			font-family Dense
			font-size 2em
			&:hover
				color cButtonMilestone05
				cursor pointer
			&:active, &.active
				color cButtonMilestone1
	.filter-checked
		padding .8em 0
		button
			float right
			display none
			&.active
				display block
				padding 0.1em 0.8em
				font-size 0.7em
				border 1px solid cButtonBorder0
				border-radius 1em
				background-color transparent
				color cButtonColor0
				text-transform uppercase
			&:hover
				border 1px solid cButtonBorder1
				background-color cButtonBg1
				cursor pointer
			&:active
				border 1px solid cButtonBorder2
				background-color cButtonBg2
				color white
	.objects
		display block
		height calc(100% - 3em)		
		overflow auto
		li
			height 3em
			color white
			font-family Helvetica
			//-------------------------------------------------------
			// Input to add new objects
			&.add
				display table
				border none
				background-color cInputBg0
				&:hover
					border none
					background-color cInputBg1
				& > div
					display table-cell
					vertical-align middle
				& > div:first-child
					width 1%
					white-space nowrap
					span
						margin 0 .6em 0 1em
						opacity .5
				.buttons
					width 1%
					white-space nowrap
					button
						border none
						background-color transparent
						color cButtonColor0
						margin 0 1em 0 0
						padding 0
						span
							margin 0 0 0 .6em
						&:hover
							cursor pointer
							color cButtonColor1
						&:active
							color white
							
				.input
					input
						width 100%
						background-color transparent
						border none
						color white
			//-------------------------------------------------------
			// Tasks objects
			&:nth-child(2) // The second item of the list (the first is the input to add new records)
				border-top 1px solid cObjectBorder0
			&.task
				border-left 1px solid cObjectBorder0
				border-right 1px solid cObjectBorder0
				border-bottom 1px solid cObjectBorder0
			.check
				display none
			.content
				display table
				width 100%
				height 100%
				& > div
					display table-cell
					vertical-align middle
				.due
					padding 0 .5em
					width 2em
					opacity 0.3
					text-align center
					.date:hover
						cursor pointer
					&.urgent
						opacity 1
					&.veryurgent
						opacity 1
						color orange
					.day
						display block
						font-size .9em
						font-weight bold
					.month
						display block
						text-transform uppercase
						font-size 0.7em
				& > .label
					max-width 1em
					.text
						overflow hidden
						white-space nowrap
						text-overflow ellipsis
				& > .tags
					width 1%
					white-space nowrap
					padding 0 .8em
					button
						color white
						background-color transparent
						border none
						padding 0 0 0 .5em
						span
							display inline-block
							opacity .5
							width .8em
							height .8em
							border 1px solid white
							margin 0 .5em 0 0
							border-radius 1em
						&:hover
							text-decoration line-through
							cursor pointer
							span
								opacity .8
						&:active
							span
								opacity 1							
				.expand, .form
					display none
			&:hover:not(.expanded):not(.add), &.active
				position relative
				background-color cObjectBg1
				.content
					width calc(100% - 3em)
					margin 0 0 0 3em
					.due
						display none
					.label
						padding 0 0 0 1em
					.expand
						display table-cell
						width 3em
						text-align center
						button
							border none
							background-color transparent
							color white
							&:hover
								cursor pointer
					.tags
						display none
					&:hover
						background-color cObjectBg1
						cursor pointer
					&:active
						background-color cObjectBg2
				.check
					display block
					position absolute
					top 0
					left 0
					width 3em
					height 3em
					text-align center
					border-right 1px solid cObjectBorder0
					&:hover
						cursor pointer
						background-color cObjectBg1
					&:active
						background-color cObjectBg2
					button
						display block
						height 100%
						width 100%
						border none
						background-color transparent
						color white
						&:hover
							cursor pointer
			&.expanded
				height auto
				.form
					display initial
				.content
					.due
						vertical-align top
						padding-top 0.5em
						position relative
						.sync
							position absolute
							margin auto
							bottom 1em
							width calc(100% - 1em)
							.wip, .done.hide
								display none
							.wip.show, .done:not(.hide)
								display initial
					& > .label, & > .tags
						display none
					.form
						& > div
							display table
							width calc(100% - 1em)
							border-bottom 1px solid cObjectBorder0
							& > div
								display table-cell
								vertical-align middle
								padding .6em 0
						.description
							border none
							.actions
								vertical-align top
						.label
							.input
								white-space nowrap
								text-overflow ellipsis
								overflow hidden
								max-width 1em
							.actions
								white-space nowrap
								width 9em
								text-align right
							button
								&.delete
									width 7em
								&.edit
									margin 0 .5em 0 0
									width 5em
						.tags
							.buttons
								white-space nowrap
								width 1%
								padding-right .5em
							.input
								input
									width 100%
									border none
									background none
									color white
							.actions
								width 6em
								text-align right
						// Commons action buttons
						.actions button
							padding 0.1em 0.8em
							font-size 0.7em
							border 1px solid cButtonBorder0
							border-radius 1em
							background-color transparent
							color cButtonColor0
							text-transform uppercase
							span
								margin 0 0 0 .6em
							&:hover
								border 1px solid cButtonBorder1
								background-color cButtonBg1
								cursor pointer
							&:active
								border 1px solid cButtonBorder2
								background-color cButtonBg2
								color white
						button.tag
							color white
							background-color transparent
							border none
							padding 0 0 0 .5em
							span
								display inline-block
								opacity .5
								width .8em
								height .8em
								border 1px solid white
								margin 0 .5em 0 0
								border-radius 1em
							&:hover
								text-decoration line-through
								cursor pointer
								span
									opacity .8
							&:active
								span
									opacity 1
				

//--------------------------------------------------------------------------
// Hacks for mobile design
@media screen and (max-width: 768px) // to detect mobile phones
	#main
		height 100%
		& > .content
			height calc(100% - 3em)
	.search-box
		width calc(100% - 3em + 20px)
		position relative
		top -3em
		left calc(3em - 10px)
	.listobjects.selected
		position relative
		top -3em
		height calc(100% - 0.5em)